/*screen sizing for large to medium screens 1920px wide and down */

@media screen and (max-width: 1920px){ 
    #menu {
        font-size: 1rem;
    }
    
    #logo-overlay {
        height: 850px;
    }

    #address-phone li {
        color: #E1250A;
        font-size: 3rem;
        top: 700px;
    }

    #button-one {
        top: 680px;
    }

    #about-section {
        height: 2200px;
    }

    .right-about-content {
        width: 80%;
        line-height: 40px;
        font-size: 2rem;
    }

    .left-about-content {
        width: 80%;
        line-height: 40px;
        font-size: 2rem;
    }
}

/*  screen sizing for large to medium screens 1720px wide and down */
@media screen and (max-width: 1720px){ 
    #menu {
        font-size: 1.5rem;
    }
}

/*  screen sizing for large to medium screens 1440px wide and down */
@media screen and (max-width: 1440px){ 
    #menu {
        font-size: 1rem;
    }

    #address-phone li {
        top: 620px;
    }

    #button-one {
        top: 580px;
    }

}

/* screen sizing for large to medium screens 1280px wide and down */

@media screen and (max-width: 1280px){ 
    .hero-background {
        height: 600px;
    }

    #logo-overlay {
        height: 600px;
    }

    #address-phone li {
        top: 100px;
    }

    #address-phone li {
        top: 520px;
    }

    #button-one {
        top: 480px;
    }

    #about-section {
        height: 1300px;
        top: 10px;
    }

    .right-about-content {
        width: 80%;
        line-height: 30px;
        font-size: 1rem;
    }

    .left-about-content {
        width: 80%;
        line-height: 30px;
        font-size: 1rem;
    }

    .social-media-links li {
        font-size: 2rem;
    }
}

/*  screen sizing for medium screens 1100px wide and down */
@media  screen and (max-width: 1100px) {
    h1 {
        font-size: 1.5rem;
    }

    #opening-hours-section {
        height: 700px;
    }

    .left-about-content {
        width: 80%;
    }
    
    .right-about-content {
        width: 80%;
    }
}

/* screen sizing for medium screens 1024px wide and down */

@media  screen and (max-width: 1024px) {
    #address-phone li {
        font-size: 2rem;
    }

    #button-one {
        top: 510px;
    }
}
/* screen sizing for medium screens 920px wide and down */

@media  screen and (max-width: 920px) {
    #address-phone li {
        font-size: 2rem;
    }

    #button-one {
        top: 500px;
    }

    #opening-hours-section {
        height: 625px;
    }

    .center-text {
        font-size: 2rem;
        text-align: center;
        position: relative;
    }
}

/* screen sizing for medium screens 850px wide and down */
@media  screen and (max-width: 850px) {
    #menu {
        padding-right: 10px;
    }
}

/* screen sizing for medium to small screens 790px wide and down */
@media  screen and (max-width: 790px) {
    .left-logo {
        left: 0px;
    }

    #menu {
        padding-right: 0;
    }
}

/* screen sizing for medium to small screens 720px wide and down */
@media  screen and (max-width: 720px) {
    #menu ul {
        top: 30px;
        float: left;
    }

    #menu li {
        bottom: 20px;
        float: left;
    }
}

/* screen sizing for small screens 690px wide and down */
@media  screen and (max-width: 690px) {
    .hero-background {
        height: 500px;
    }

    #menu {
        display: inline-block;
        position: relative;
    }

    #address-phone li {
        top: 400px;
    }

    #button-one {
        top: 380px;
    }
}

/* screen sizing for small screens 560px wide and down */
@media  screen and (max-width: 560px) {
    #landing-logo {
        height: 550px;
    }

    .hero-background {
        height: 400px;
    }

    #about-section {
        height: 1200px;
    }
}

/* screen sizing for small screens 490px wide and down */
@media  screen and (max-width: 490px) {
    #about-section {
        height: 1300px;
    }
}

/* screen sizing for small screens 450px wide and down */
@media  screen and (max-width: 450px) {
    #about-section {
        height: 1400px;
    }

    #opening-hours-section {
        height: 750px;
    }
}