@import url('https://fonts.googleapis.com/css2?family=Licorice&family=Ubuntu:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    color: rgba(32, 8, 8, 0.233);
}

/* logo and headings */

#company-logo {
    float: left;
    font-size: 300%;
    margin-left: 25px;
    margin-top: 30px;
}

h1, h2, h3 {
    font-family: 'Licorice', cursive;
    text-transform: capitalize;
    color: black;
}
