@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=The+Nautigal&display=swap');

* {
    margin: none;
    padding: none;
    border: none;
}

body {
    font-family: 'Luxurious Roman', cursive;
    color: #FFFFFF;
    background-color: black;
}

/* logo */

#logo {
    font-family: 'The Nautigal', cursive;
    font-size: 500%;
    font-weight: 500;
    letter-spacing: 5px;
    color: #EF3054;
    float: left;
}

/* navigation bar */

#menu {
    font-size: 100%;
    font-weight: 300;
    letter-spacing: 4px;
    padding-right: 10px;

}

#menu, #logo {
    line-height: 30px;
}

#menu-links {
    float: right;
}

#menu-links li {
    list-style-type: none;
    padding: 0 5px;
    float: left;
}

#menu a {
    color: #EF3054;
    text-decoration: none;

}

#menu a:hover, .dropdown-button:hover {
    font-size: 110%;
    text-shadow: #EF3054;
    font-weight: 900;
    color: #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
}

.currently-active {
    border-bottom: 2px solid #FFFFFF;
}

#logo:hover {
    color: #EAC435;
}

/* dropdown menu */

.dropdown-button {
    font-family: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    color: #EF3054;
    background-color: black;
}

.content {
    position: relative;
    display: inline-block;

}

.download-content {
    display: none;
    position: absolute;
    min-width: 180px;
    z-index: 1;
}

.download-content a {
    font-size: initial;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
}

.content:hover .download-content {
    display: block;
    border-bottom: none;
}