@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=The+Nautigal&display=swap');

* {
    margin: none;
    padding: none;
    border: none;
}

/* logo */

#logo {
    font-size: 300%;
    font-family: 'Luxurious Roman', cursive;
}

/* navigation bar */

